<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head -->
    <%- include('./head'); %>

    <!-- Titulo -->
    <title>Más información</title>

    <!-- CSS utilizado solo para Mas informacion -->
    <link rel="stylesheet" href="/views/css/more_info.css" type="text/css">
    <link rel="stylesheet" href="/views/css/loader.css">

</head>
<body>
    <!-- Preloader  -->
	<div class="loader_bg">
		<div class="loader"><img src="/views/assets/Home/Loader04.gif" alt="#"/></div>
	 </div>
  	<!-- end Preloader -->

    <!-- Navbar -->
    <header>
        <%- include('./navbar'); %>
    </header>

    
    <!-- Mas informacion Inicio -->
    <div class="row">
        <div class="row">
            <div class="campus">
                <div class="h5t mx-auto">
                    <h1 class="my-auto">
                        Puedes encontrar nuestras oficinas en el edificio de idiomas y deportes
                    </h1>
                </div>
                <div class="imageCampusContainer">
                    <img src="/views/assets/More_Info/campus_image_1.jpg"/>
                </div>
                
            </div>
        </div>

        <div class="row">
            <div class="section2 mx-auto">
                <h1>Horarios</h1>
                <div class="row mx-auto">
                    <div class="col ">
                        <div class="square mx-auto">
                            <p><b>Baloncesto</b><br/>
                            Uso de la cancha<br/><br/>
                            Equipo disponible:<br/>
                            -Platos/Conos<br/>
                            -Balones<br/><br/>
                            Horarios:<br/>
                            9:00-19:00
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="square mx-auto">
                            <p><b>Futbol</b><br/>
                            Uso de la cancha<br/><br/>
                            Equipo disponible:<br/>
                            -Platos/Conos<br/>
                            -Balones<br/><br/>
                            Horarios:<br/>
                            9:00-19:00
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="square mx-auto">
                            <p><b>Padel</b><br/>
                            Uso de la cancha<br/><br/>
                            Equipo disponible:<br/>
                            -Pelotas<br/>
                            -Raquetas de padel<br/><br/>
                            Horarios:<br/>
                            9:00-19:00
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mx-auto">
                    <div class="col">
                        <div class="square mx-auto">
                            <p><b>Tenis</b><br/>
                            Uso de la cancha<br/><br/>
                            Equipo disponible:<br/>
                            -Pelotas<br/>
                            -Raquetas de tenis<br/><br/>
                            Horarios:<br/>
                            9:00-19:00
                            </p>
                        </div>
                    </div>  
                    <div class="col">
                        <div class="square mx-auto">
                            <p><b>Voleybol</b><br/>
                            Uso de la cancha<br/><br/>
                            Equipo disponible:<br/>
                            -Red<br/>
                            -Balones<br/><br/>
                            Horarios:<br/>
                            9:00-19:00
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="square mx-auto">
                            <p><b>Carpa</b><br/>
                            Espacio de usos multiples<br/><br/>
                            Equipo disponible:<br/>
                            -Instrumentos<br/>
                            -Pesas<br/><br/>
                            Horarios:<br/>
                            9:00-19:00
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mas informacion Final -->

    <!-- Javascript files -->
        <script src="/views/js/more_info.js"></script>
        <script src="/views/js/home_jquery.min.js"></script>
        <script src="/views/js/loader_functions.js"></script>
    



    <!-- Footer -->
    <footer>
        <%- include('./footer'); %>
    </footer>

   
</body>
</html>
